// Fonts
$font: "proxima nova", Arial, sans-serif;

// Colors
$main-dark: #E9662C; // Orange
$main-light: #EBAF3C; // Orange
$accent: #00AC65; // Green
$dark: #473963; // Purple
$light: #068894; // Blue