/* line 4, ../sass/helpers.scss */
.right {
  text-align: right;
}

/* line 5, ../sass/helpers.scss */
.center {
  text-align: center;
}

/* line 8, ../sass/helpers.scss */
.text-main-dark {
  color: #e9662c;
}

/* line 9, ../sass/helpers.scss */
.text-main-light {
  color: #ebaf3c;
}

/* line 10, ../sass/helpers.scss */
.text-accent {
  color: #00ac65;
}

/* line 11, ../sass/helpers.scss */
.text-dark {
  color: #473963;
}

/* line 12, ../sass/helpers.scss */
.text-light {
  color: #068894;
}

/* line 15, ../sass/helpers.scss */
a.link-main-dark {
  color: #e9662c;
  font-weight: 700;
}

/* line 16, ../sass/helpers.scss */
a.link-main-light {
  color: #ebaf3c;
  font-weight: 700;
}

/* line 17, ../sass/helpers.scss */
a.link-accent {
  color: #00ac65;
  font-weight: 700;
}

/* line 18, ../sass/helpers.scss */
a.link-dark {
  color: #473963;
  font-weight: 700;
}

/* line 19, ../sass/helpers.scss */
a.link-light {
  color: #068894;
  font-weight: 700;
}

/* line 22, ../sass/helpers.scss */
.background-main-dark {
  background-color: #e9662c;
  color: #ffffff;
}

/* line 26, ../sass/helpers.scss */
.background-main-light {
  background-color: #ebaf3c;
  color: #ffffff;
}

/* line 30, ../sass/helpers.scss */
.background-accent {
  background-color: #00ac65;
  color: #ffffff;
}

/* line 34, ../sass/helpers.scss */
.background-dark {
  background-color: #473963;
  color: #ffffff;
}

/* line 38, ../sass/helpers.scss */
.background-light {
  background-color: #068894;
  color: #ffffff;
}

/* line 44, ../sass/helpers.scss */
a.link-background-main-dark {
  background-color: #e9662c;
  padding: 7px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
}

/* line 52, ../sass/helpers.scss */
a.link-background-main-light {
  background-color: #ebaf3c;
  padding: 7px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
}

/* line 60, ../sass/helpers.scss */
a.link-background-accent {
  background-color: #00ac65;
  padding: 7px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
}

/* line 68, ../sass/helpers.scss */
a.link-background-dark {
  background-color: #473963;
  padding: 7px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
}

/* line 76, ../sass/helpers.scss */
a.link-background-light {
  background-color: #068894;
  padding: 7px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
}
