<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/helpers.css">

        <!-- Grid system -->
        <link rel="stylesheet" href="/stylesheets/2cols.css">
        <link rel="stylesheet" href="/stylesheets/3cols.css">
        <link rel="stylesheet" href="/stylesheets/4cols.css">
        <link rel="stylesheet" href="/stylesheets/5cols.css">
        <link rel="stylesheet" href="/stylesheets/6cols.css">
        <link rel="stylesheet" href="/stylesheets/7cols.css">
        <link rel="stylesheet" href="/stylesheets/8cols.css">
        <link rel="stylesheet" href="/stylesheets/9cols.css">
        <link rel="stylesheet" href="/stylesheets/10cols.css">
        <link rel="stylesheet" href="/stylesheets/11cols.css">
        <link rel="stylesheet" href="/stylesheets/12cols.css">
        <link rel="stylesheet" href="/stylesheets/480.css">
        <link rel="stylesheet" href="/stylesheets/768.css">
        <link rel="stylesheet" href="/stylesheets/1024.css">
        <link rel="stylesheet" href="/stylesheets/col.css">

    </head>
    <body>
        <div id="container">
          <div class="section group">
            <div class="col span_1_of_5">
              <!-- Empty spacer div -->
            </div>
            <div class="col span_3_of_5">
              {{ content }}
            </div>
            <div class="col span_1_of_5">
              <!-- Empty spacer div -->
            </div>
          </div>
        </div> <!-- /container -->

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/unp2waz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
